<main class="dashboard-entry-wrapper col-11 col-md-8 row justify-content-center text-center py-5 mt-0 text-light rounded">
    <div class="col-12 mb-4">
        <h2 class="">
            Journal Entries
        </h2>
    </div>

    <div id="entries-list-wrapper" class="col-8 rounded mb-5 bg-light px-0">
        <div class="list-group rounded" id="entries-list">
            {{#each journalEntries}}
            <a href="/dashboard/journalentry/{{id}}" class="list-group-item list-group-item-action list-group-item-info"
                data-entry-number="{{id}}">
                {{format_date created_at}}
            </a>
            {{/each}}
        </div>
    </div>

    <div class="col-12 pb-4">
        <button type="button" class="btn-md btn-light p-1 rounded" id="new-entry-btn">New Entry</button>
    </div>
</main>

<script src="/javascript/dashboard.js"></script>
