<main class="dashboard-entry-wrapper col-11 col-md-10 row justify-content-center text-center py-5 pt-4 mt-0 text-light rounded">
    <div id="userIdContainer" data-id="{{journalEntry.user_id}}" style="display:none"></div>
    <div class="col-12 mb-3">
        <h2 id="entryDateContainer">
        </h2>
    </div>

    {{!-- Add feature for Portfolio --}}
    {{!-- <div class="col-12 row justify-content-around mb-3">
        Daily Motivation: <span id="insert-motivation"></span>
    </div> --}}

    <div class="form-grateful-wrapper row justify-content-around col-12 mb-1">
        <form class="update-form col-12 row justify-content-center">
            {{> single-entry journalEntry}}

            <div class="col-12 mt-3">
                <button type="click" class="btn btn-sm btn-light p-0 p-md-1 mr-1 rounded col-3 col-md-2" id="back-btn">Back</button>
                <button type="click" class="btn btn-sm btn-light p-0 p-md-1 rounded col-3 col-md-2" id="delete-btn">Delete</button>
                <button type="submit" class="btn btn-sm btn-light p-0 p-md-1 rounded col-3 col-md-2">Update</button>
            </div>

        </form>
    </div>
</main>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous" referrerpolicy="no-referrer" defer ></script>
<script src="/javascript/display-date.js" defer ></script>
<script src="/javascript/back.js" defer ></script>
<script src="/javascript/update-journal-entry.js" defer ></script>
