<main class="dashboard-entry-wrapper col-11 col-md-8 row justify-content-center text-center py-5 pt-4 mt-0 text-light rounded">
    <div class="col-12 mb-3">
        <h2 class="">
            Journal Entry
        </h2>
    </div>

    <div class="col-12 row justify-content-around mb-3">
        Daily Motivation: <span id="insert-motivation"></span>
    </div>

    <div class="form-grateful-wrapper row justify-content-around col-12 mb-1">
        <form class="update-form col-12 row justify-content-center">
            {{> single-entry journalEntry}}

            <div class="col-12 mt-3">
                <button type="click" class="btn-md btn-light p-1 mr-1 rounded col-4 col-md-2" id="back-btn">Back</button>
                <button type="click" class="btn-md btn-light p-1 mr-1 rounded col-4 col-md-2" id="delete-btn">Delete</button>
                <button type="submit" class="btn-md btn-light p-1 ml-1 rounded col-4 col-md-2">Update</button>
            </div>

        </form>
    </div>
</main>

<script src="/javascript/back.js"></script>
<script src="/javascript/delete-journal-entry.js"></script>
<script src="/javascript/update-journal-entry.js"></script>
