<!-- LOGIN PAGE -->
<main class="login-wrapper col-11 col-md-8 row justify-content-center text-center py-5 mt-4 text-light rounded">
  <div class="col-12 mb-3">
    <h2 class="">
      Self-Care Journal
    </h2>
  </div>

  <div class="col-12 col-md-6 pt-3">Application Description: A daily journaling app that utilizes a third-party datepicker (Zebra Datepicker) to keep record of journal entries.
  </div>

  <div class="form-wrapper col-12 mt-5  row justify-content-center">
    <form class="login-form col-12 col-md-4">
      <div class="form-group col-12 mb-1">
        <input type="email" class="form-control text-dark" id="login-email-input" aria-describedby="emailHelp"
          placeholder="Enter email">
      </div>
      <div class="form-group col-12">
        <input type="password" class="form-control" id="login-password-input" placeholder="Password">
      </div>

      <div class="pt-2">
        <button type="submit" class="btn-md btn-light p-1 rounded">Login</button>
      </div>
    </form>
  </div>

  <div class="form-wrapper col-12 mt-4 mb-4 row justify-content-center">
    <form class="signup-form col-12 col-md-4">
      <div class="form-group col-12 mb-1">
        <input type="text" class="form-control text-dark" id="signup-username-input" aria-describedby="emailHelp"
          placeholder="Enter username">
      </div>
      <div class="form-group col-12 mb-1">
        <input type="email" class="form-control text-dark" id="signup-email-input" aria-describedby="emailHelp"
          placeholder="Enter email">
      </div>
      <div class="form-group col-12">
        <input type="password" class="form-control" id="signup-password-input" placeholder="Password">
      </div>
      <div class="pt-2">
        <button type="submit" class="btn-md btn-light p-1 rounded">Sign-up</button>
      </div>
    </form>
  </div>
</main>

<script src="/javascript/login.js"></script>
